[Desktop Entry]
Comment=Layan theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Layan-light
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.vinceliuice.Layan-light
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/vinceliuice/Layan-kde
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1325239,kns://plasma-themes.knsrc/api.kde-look.org/1708362,kns://aurorae.knsrc/api.kde-look.org/1325238,kns://icons.knsrc/api.kde-look.org/1359276,kns://wallpaper.knsrc/api.kde-look.org/1309218,kns://sddmtheme.knsrc/api.kde-look.org/1325235,kns://xcursor.knsrc/api.kde-look.org/1365214
X-Plasma-MainScript=defaults
